---
name: Build and Push Docker Images for Renovate PR

on:
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - 'tor-reverse/**'
    types:
      - opened
      - synchronize
      - reopened

jobs:
  docker-build-tor-reverse:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push (Dry run)
        uses: docker/build-push-action@v6
        with:
          context: tor-reverse
          file: tor-reverse/Dockerfile
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          tags: |
            ghcr.io/${{ github.repository }}/tor-reverse:latest
